<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/careers.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <!-- <% for (let i = 0; i < careers.length; i++) { %>
        <div>
            <div><%= careers[i].title %></div>
            <div><%= careers[i].description %></div>
            <div>Darbo užmokestis: <%= careers[i].salary %></div>
        </div>
    <% } %> -->

    <div class="career-posters-container">
        <% careers.forEach((career) => { %>
            <div class="career-poster">
                <div><%= career.title %></div>
                <div><%= career.description %></div>
                <div>Darbo užmokestis: <%= career.salary %></div>
            </div>
        <% }) %>
    </div>
</body>
</html>